* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Catamaran', sans-serif;
}


/* header */

header {
    width: 100%;
    background-color: #3161e0;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    width: 65%;
    height: 100px;
    margin: auto;
    position: relative;
}

.logo {
    margin-top: 30px;
    float: left

}

ul {
    position: absolute;
    left: 200px;

}


li {
    display: block;
    float: left;
    margin: 30px;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}


.button {
    font-size: 18px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    right: 400px;
    top: 30px;
    background-color: white;

}
/* fine header */

/* jumbotron */

.jumbotron {
    width: 100%;
    height: 630px;
    position: relative;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.testo-grande {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    text-align: center;
    color: white;

}

.paragrafo-primo {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: white;
}

.download-file {
    font-size: 23px;
    border-radius: 50px;
    padding: 15px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 600px;
    top: 380px;
    background-color: white;

}

.direct {
    font-size: 20px;
    border-radius: 50px;
    padding: 15px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    position: absolute;
    left: 950px;
    top: 380px;
    background-color: black;

}

/* fine jumbotron */

/* inizio seconda scheda */

.seconda-scheda {
    width: 100%;
    height: 1000px;
    position: relative;


}

.container-img {
    width: 800px;
    height: 500px;
    background-image: url(../img/item1.svg);
    background-size: cover;
    position: absolute;
    top: 200px;
    left: 300px;
}

.paragrafo-secondo {
    position: absolute;
    top: 400px;
    transform: translate(-50%, -50%);
    font-size: 60px;
    line-height: 65px;
    color: #23272a;
    left: 1400px;
    text-align: left;

}

.descrizione-paragrafo2 {
    position: absolute;
    top: 695px;
    transform: translate(-57%, -85%);
    font-size: 20px;
    color: #23272a;
    left: 1425px;
    text-align: left;
}

/* fine seconda scheda */

/* inizio terza scheda */
.terza-scheda {
    width: 100%;
    height: 900px;
    position: relative;
    background-color: #f6f6f6;


}

.wave {
    width: 100%;
    height: 100px;
    background-image: url(../img/wave.svg);
    background-size: cover;
    position: absolute;
    bottom: 900px;

}

.container-img2 {
    width: 800px;
    height: 500px;
    background-image: url(../img/item2.svg);
    background-size: contain;
    position: absolute;
    top: 200px;
    right: 300px;
}

.paragrafo-terzo {
    position: absolute;
    top: 300px;
    transform: translate(-50%, -50%);
    font-size: 60px;
    line-height: 65px;
    color: #23272a;
    left: 400px;
    text-align: left;

}

.descrizione-paragrafo3 {
    position: absolute;
    top: 500px;
    transform: translate(-57%, -85%);
    font-size: 20px;
    color: #23272a;
    left: 425px;
    text-align: left;
}

.wave-down {
    width: 100%;
    height: 100px;
    background-image: url(../img/wave.svg);
    background-size: cover;
    position: absolute;
    top: 900px;
    transform: rotate(180deg);

}

/* fine terza scheda */

/* inizio quarta scheda */

.quarta-scheda {
    width: 100%;
    height: 1000px;
    position: relative;


}

.container-img3 {
    width: 800px;
    height: 500px;
    background-image: url(../img/item3.svg);
    background-size: cover;
    position: absolute;
    top: 200px;
    left: 300px;
}

.paragrafo-quarto {
    position: absolute;
    top: 400px;
    transform: translate(-50%, -50%);
    font-size: 60px;
    line-height: 65px;
    color: #23272a;
    left: 1400px;
    text-align: left;

}

.descrizione-paragrafo4 {
    position: absolute;
    top: 625px;
    transform: translate(-57%, -85%);
    font-size: 20px;
    color: #23272a;
    left: 1450px;
    text-align: left;
}

/* fine quarta scheda */

/* inizio quinta */

.quinta-scheda {
    width: 100%;
    height: 1300px;
    position: relative;
    background-color: #f6f6f6;


}

.last-wave {
    width: 100%;
    height: 100px;
    background-image: url(../img/wave.svg);
    background-size: cover;
    position: absolute;
    bottom: 1300px;

}

.container-img4 {
    width: 1200px;
    height: 900px;
    background-image: url(../img/item4-big.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 300px;
    right: 300px;
}

.paragrafo-quinto {
    position: absolute;
    top: 200px;
    transform: translate(-50%, -50%);
    font-size: 45px;
    color: #23272a;
    left: 50%;
    text-align: left;

}

.descrizione-paragrafo5 {
    position: absolute;
    top: 300px;
    transform: translate(-57%, -85%);
    font-size: 20px;
    color: #23272a;
    left: 990px;
    text-align: center;
}

